// @calendar-prefix-cls: ~'@{ant-prefix}-calendar';
// @calendar-timepicker-prefix-cls: ~'@{ant-prefix}-calendar-time-picker';
@import '../styles/utils.scss';

$calendar-prefix-cls: '.DatePicker';
$calendar-timepicker-prefix-cls: '.DatePicker-time-picker';

@mixin calendarLeftArrow() {
  height: 100%;

  &::before,
  &::after {
    position: relative;
    top: -1px;
    display: inline-block;
    width: 8px;
    height: 8px;
    vertical-align: middle;
    border: 0 solid #aaa;
    border-width: 1.5px 0 0 1.5px;
    border-radius: 1px;
    transform: rotate(-45deg) scale(0.8);
    transition: all 0.3s;
    content: '';
  }

  &:hover::before,
  &:hover::after {
    border-color: $text-color;
  }

  &::after {
    display: none;
  }
}

@mixin calendarLeftDoubleArrow() {
  @include calendarLeftArrow;

  &::after {
    position: relative;
    left: -3px;
    display: inline-block;
  }
}

@mixin calendarRightArrow() {
  @include calendarLeftArrow;

  &::before,
  &::after {
    transform: rotate(135deg) scale(0.8);
  }
}

@mixin calendarRightDoubleArrow() {
  @include calendarRightArrow;

  &::before {
    position: relative;
    left: 3px;
  }

  &::after {
    display: inline-block;
  }
}

@mixin calendarPanelHeader($calendar-prefix-cls) {
  height: 40px;
  line-height: 40px;
  text-align: center;
  border-bottom: 1px solid $border-color-split;
  user-select: none;

  a:hover {
    color: #494949;
    cursor: pointer;
  }

  #{$calendar-prefix-cls}-century-select,
  #{$calendar-prefix-cls}-decade-select,
  #{$calendar-prefix-cls}-year-select,
  #{$calendar-prefix-cls}-month-select {
    display: inline-block;
    padding: 0 2px;
    color: $heading-color;
    font-weight: 500;
    line-height: 40px;
  }

  #{$calendar-prefix-cls}-century-select-arrow,
  #{$calendar-prefix-cls}-decade-select-arrow,
  #{$calendar-prefix-cls}-year-select-arrow,
  #{$calendar-prefix-cls}-month-select-arrow,
  #{$calendar-prefix-cls}-month-panel-year-select-arrow,
  #{$calendar-prefix-cls}-year-panel-decade-select-arrow {
    display: none;
  }

  #{$calendar-prefix-cls}-prev-century-btn,
  #{$calendar-prefix-cls}-next-century-btn,
  #{$calendar-prefix-cls}-prev-decade-btn,
  #{$calendar-prefix-cls}-next-decade-btn,
  #{$calendar-prefix-cls}-prev-month-btn,
  #{$calendar-prefix-cls}-next-month-btn,
  #{$calendar-prefix-cls}-prev-year-btn,
  #{$calendar-prefix-cls}-next-year-btn,
  #{$calendar-prefix-cls}-month-panel-next-year-btn,
  #{$calendar-prefix-cls}-month-panel-prev-year-btn {
    position: absolute;
    top: 0;
    display: inline-block;
    padding: 0 5px;
    color: $white;
    font-size: 16px;
    font-family: Arial, 'Hiragino Sans GB', 'Microsoft Yahei', 'Microsoft Sans Serif', sans-serif;
    line-height: 40px;
  }

  #{$calendar-prefix-cls}-prev-century-btn,
  #{$calendar-prefix-cls}-prev-decade-btn,
  #{$calendar-prefix-cls}-prev-year-btn,
  #{$calendar-prefix-cls}-month-panel-prev-year-btn {
    left: 7px;
    @include calendarLeftDoubleArrow;
  }

  #{$calendar-prefix-cls}-next-century-btn,
  #{$calendar-prefix-cls}-next-decade-btn,
  #{$calendar-prefix-cls}-next-year-btn,
  #{$calendar-prefix-cls}-month-panel-next-year-btn {
    right: 7px;
    @include calendarRightDoubleArrow;
  }

  #{$calendar-prefix-cls}-prev-month-btn {
    left: 29px;
    @include calendarLeftArrow;
  }

  #{$calendar-prefix-cls}-next-month-btn {
    right: 29px;
    @include calendarRightArrow;
  }
}

@mixin calendar-selected-cell() {
  #{$calendar-prefix-cls}-date {
    color: $text-color-inverse;
    background: $primary;
    border: 1px solid transparent;

    &:hover {
      background: $primary;
    }
  }
}

#{$calendar-prefix-cls} {
  position: relative;
  width: 280px;
  font-size: $font-size-base;
  line-height: $line-height-base;
  text-align: left;
  list-style: none;
  background-color: $white;
  background-clip: padding-box;
  border: 1px solid $white;
  border-radius: 4px;
  outline: none;
  box-shadow: $box-shadow-base;

  &-input-wrap {
    height: 34px;
    padding: 6px $padding-sm - 2px;
    border-bottom: 1px solid $border-color-split;
  }

  &-input {
    width: 100%;
    height: 22px;
    color: $input-color;
    background: $white;
    border: 0;
    outline: 0;
    cursor: auto;
  }

  &-week-number {
    width: 286px;

    &-cell {
      text-align: center;
    }
  }

  &-header {
    @include calendarPanelHeader($calendar-prefix-cls);
  }

  &-body {
    padding: 8px 12px;
  }

  table {
    width: 100%;
    max-width: 100%;
    background-color: transparent;
    border-collapse: collapse;
  }

  table,
  th,
  td {
    text-align: center;
    border: 0;
  }

  &-calendar-table {
    margin-bottom: 0;
    border-spacing: 0;
  }

  &-column-header {
    width: 33px;
    padding: 6px 0;
    line-height: 18px;
    text-align: center;
    #{$calendar-prefix-cls}-column-header-inner {
      display: block;
      font-weight: normal;
    }
  }

  &-week-number-header {
    #{$calendar-prefix-cls}-column-header-inner {
      display: none;
    }
  }

  &-cell {
    height: 30px;
    padding: 3px 0;
  }

  &-date {
    display: block;
    width: 24px;
    height: 24px;
    margin: 0 auto;
    padding: 0;
    color: $text-color;
    line-height: 22px;
    text-align: center;
    background: transparent;
    border: 1px solid transparent;
    border-radius: $border-radius-sm;
    transition: background 0.3s ease;

    &-panel {
      position: relative;
      outline: none;
    }

    &:hover {
      background: $item-hover-bg;
      color: $primary;
      cursor: pointer;
    }

    &:active {
      color: $text-color-inverse;
      background: $primary;
    }
  }

  &-today &-date {
    color: $primary;
    font-weight: bold;
    border-color: $border-color-split;
  }

  &-selected-day &-date {
    background: $primary;
    color: $white;
  }

  &-last-month-cell &-date,
  &-next-month-btn-day &-date {
    &,
    &:hover {
      color: $disabled-color;
      background: transparent;
      border-color: transparent;
    }
  }

  &-disabled-cell &-date {
    position: relative;
    width: auto;
    color: $disabled-color;
    background: $disabled-bg;
    border: 1px solid transparent;
    border-radius: 0;
    cursor: not-allowed;

    &:hover {
      background: $disabled-bg;
    }
  }

  .DatePicker-disabled-cell.DatePicker-selected-day &-date::before {
    position: absolute;
    top: -1px;
    left: 5px;
    width: 24px;
    height: 24px;
    background: rgba(0, 0, 0, 0.1);
    border-radius: $border-radius-sm;
    content: '';
  }

  .DatePicker-disabled-cell.DatePicker-today &-date {
    position: relative;
    padding-right: 5px;
    padding-left: 5px;
    &::before {
      position: absolute;
      top: -1px;
      left: 5px;
      width: 24px;
      height: 24px;
      border: 1px solid $disabled-color;
      border-radius: $border-radius-sm;
      content: ' ';
    }
  }

  &-disabled-cell-first-of-row &-date {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
  }

  &-disabled-cell-last-of-row &-date {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
  }

  &-footer {
    padding: 0 12px;
    line-height: 38px;
    border-top: 1px solid $border-color-split;
    &:empty {
      border-top: 0;
    }
    &-btn {
      display: block;
      text-align: center;
    }
    &-extra {
      text-align: left;
    }
  }

  #{$calendar-prefix-cls}-today-btn,
  #{$calendar-prefix-cls}-clear-btn {
    display: inline-block;
    margin: 0 0 0 8px;
    text-align: center;
    &-disabled {
      color: $disabled-color;
      cursor: not-allowed;
    }
    &:only-child {
      margin: 0;
    }
  }

  #{$calendar-prefix-cls}-clear-btn {
    position: absolute;
    top: 7px;
    right: 5px;
    display: none;
    width: 20px;
    height: 20px;
    margin: 0;
    overflow: hidden;
    line-height: 20px;
    text-align: center;
    text-indent: -76px;
  }

  #{$calendar-prefix-cls}-clear-btn::after {
    display: inline-block;
    width: 20px;
    color: $disabled-color;
    font-size: $font-size-base;
    line-height: 1;
    text-indent: 43px;
    transition: color 0.3s ease;
  }

  #{$calendar-prefix-cls}-clear-btn:hover::after {
    color: $white;
  }
}

#{$calendar-prefix-cls}-decade-panel {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: $zindex-picker-panel;
  display: flex;
  flex-direction: column;
  background: $white;
  border-radius: 4px;
  outline: none;
}

#{$calendar-prefix-cls}-decade-panel-hidden {
  display: none;
}

#{$calendar-prefix-cls}-decade-panel-header {
  @include calendarPanelHeader($calendar-prefix-cls '-decade-panel');
  position: relative;
}

#{$calendar-prefix-cls}-decade-panel-body {
  flex: 1;
}

#{$calendar-prefix-cls}-decade-panel-footer {
  border-top: 1px solid $border-color-split;
  #{$calendar-prefix-cls}-footer-extra {
    padding: 0 12px;
  }
}

#{$calendar-prefix-cls}-decade-panel-table {
  width: 100%;
  height: 100%;
  table-layout: fixed;
  border-collapse: separate;
}

#{$calendar-prefix-cls}-decade-panel-cell {
  white-space: nowrap;
  text-align: center;
}

#{$calendar-prefix-cls}-decade-panel-decade {
  display: inline-block;
  height: 24px;
  margin: 0 auto;
  padding: 0 6px;
  color: $text-color;
  line-height: 24px;
  text-align: center;
  background: transparent;
  border-radius: $border-radius-sm;
  transition: background 0.3s ease;

  &:hover {
    background: $item-hover-bg;
    cursor: pointer;
  }
}

#{$calendar-prefix-cls}-decade-panel-selected-cell #{$calendar-prefix-cls}-decade-panel-decade {
  color: $text-color-inverse;
  background: $primary;

  &:hover {
    color: $text-color-inverse;
    background: $primary;
  }
}

#{$calendar-prefix-cls}-decade-panel-last-century-cell,
#{$calendar-prefix-cls}-decade-panel-next-century-cell {
  #{$calendar-prefix-cls}-decade-panel-decade {
    color: $disabled-color;
    user-select: none;
  }
}

#{$calendar-prefix-cls}-month-panel {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: $zindex-picker-panel;
  background: $white;
  border-radius: 4px;
  outline: none;

  > div {
    display: flex;
    flex-direction: column;
    // TODO: this is a useless wrapper, and we need to remove it in rc-calendar
    height: 100%;
  }
}

#{$calendar-prefix-cls}-month-panel-hidden {
  display: none;
}

#{$calendar-prefix-cls}-month-panel-header {
  @include calendarPanelHeader($calendar-prefix-cls '-month-panel');
  position: relative;
}

#{$calendar-prefix-cls}-month-panel-body {
  flex: 1;
}

#{$calendar-prefix-cls}-month-panel-footer {
  border-top: 1px solid $border-color-split;
  #{$calendar-prefix-cls}-footer-extra {
    padding: 0 12px;
  }
}

#{$calendar-prefix-cls}-month-panel-table {
  width: 100%;
  height: 100%;
  table-layout: fixed;
  border-collapse: separate;
}

#{$calendar-prefix-cls}-month-panel-selected-cell #{$calendar-prefix-cls}-month-panel-month {
  color: $text-color-inverse;
  background: $primary;

  &:hover {
    color: $text-color-inverse;
    background: $primary;
  }
}

#{$calendar-prefix-cls}-month-panel-cell {
  text-align: center;

  &-disabled #{$calendar-prefix-cls}-month-panel-month {
    &,
    &:hover {
      color: $disabled-color;
      background: $disabled-bg;
      cursor: not-allowed;
    }
  }
}

#{$calendar-prefix-cls}-month-panel-month {
  display: inline-block;
  height: 24px;
  margin: 0 auto;
  padding: 0 8px;
  color: $black;
  line-height: 24px;
  text-align: center;
  background: transparent;
  border-radius: $border-radius-sm;
  transition: background 0.3s ease;

  &:hover {
    background: $item-hover-bg;
    cursor: pointer;
  }
}

#{$calendar-prefix-cls}-month {
  #{$calendar-prefix-cls}-month-header-wrap {
    position: relative;
    height: 288px;
  }
  #{$calendar-prefix-cls}-month-panel,
  #{$calendar-prefix-cls}-year-panel {
    top: 0;
    height: 100%;
  }
}

#{$calendar-prefix-cls}-picker-container {
  @include reset-component;

  position: absolute;
  z-index: $zindex-picker;

  &.slide-up-enter.slide-up-enter-active.DatePicker-picker-container-placement-topLeft,
  &.slide-up-enter.slide-up-enter-active.DatePicker-picker-container-placement-topRight,
  &.slide-up-appear.slide-up-appear-active.DatePicker-picker-container-placement-topLeft,
  &.slide-up-appear.slide-up-appear-active.DatePicker-picker-container-placement-topRight {
    animation-name: antSlideDownIn;
  }

  &.slide-up-enter.slide-up-enter-active.DatePicker-picker-container-placement-bottomLeft,
  &.slide-up-enter.slide-up-enter-active.DatePicker-picker-container-placement-bottomRight,
  &.slide-up-appear.slide-up-appear-active.DatePicker-picker-container-placement-bottomLeft,
  &.slide-up-appear.slide-up-appear-active.DatePicker-picker-container-placement-bottomRight {
    animation-name: antSlideUpIn;
  }

  &.slide-up-leave.slide-up-leave-active.DatePicker-picker-container-placement-topLeft,
  &.slide-up-leave.slide-up-leave-active.DatePicker-picker-container-placement-topRight {
    animation-name: antSlideDownOut;
  }

  &.slide-up-leave.slide-up-leave-active.DatePicker-picker-container-placement-bottomLeft,
  &.slide-up-leave.slide-up-leave-active.DatePicker-picker-container-placement-bottomRight {
    animation-name: antSlideUpOut;
  }
}

#{$calendar-prefix-cls}-picker {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: rgba(0, 0, 0, 0.65);
  font-size: 14px;
  line-height: 1.5;
  position: relative;
  display: inline-block;
  outline: none;
  cursor: text;
  transition: opacity 0.3s;

  &-input {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    position: relative;
    display: inline-block;
    width: 100%;
    height: 40px;
    padding: 4px 11px;
    font-size: 14px;
    line-height: 1.5;
    background-color: #fff;
    background-image: none;
    border: 1px solid #d9d9d9;
    border-radius: 4px;
    transition: all 0.3s;

    &-disabled {
      color: rgba(0, 0, 0, 0.25);
      background-color: #f5f5f5;
      cursor: not-allowed;
      opacity: 1;
    }
  }

  &-clear,
  &-icon {
    position: absolute;
    top: 50%;
    right: $padding-sm;
    width: 14px;
    height: 14px;
    margin-top: -7px;
    font-size: $font-size-sm;
    line-height: 14px;
    transition: all 0.3s;
    user-select: none;
  }

  &-clear {
    color: $disabled-color;
    font-size: $font-size-base;
    background: $white;
    cursor: pointer;
    opacity: 0;
    pointer-events: none;
  }

  &:hover &-clear {
    opacity: 1;
    pointer-events: auto;
  }

  &-icon {
    display: inline-block;
    color: $disabled-color;
    font-size: 14px;
    line-height: 1;
  }

  &-small &-clear,
  &-small &-icon {
    // right: $padding-sm-sm;
  }
}

$input-box-height: 34px;

#{$calendar-prefix-cls}-range-picker-input {
  width: 44%;
  height: 99%;
  text-align: center;
  background-color: transparent;
  border: 0;
  outline: 0;

  &[disabled] {
    cursor: not-allowed;
  }
}

#{$calendar-prefix-cls}-range-picker-separator {
  display: inline-block;
  min-width: 10px;
  height: 100%;
  color: $white;
  white-space: nowrap;
  text-align: center;
  vertical-align: top;
  pointer-events: none;
}

#{$calendar-prefix-cls}-range {
  width: 552px;
  overflow: hidden;

  #{$calendar-prefix-cls}-date-panel {
    &::after {
      display: block;
      clear: both;
      height: 0;
      visibility: hidden;
      content: '.';
    }
  }
  &-part {
    position: relative;
    width: 50%;
  }

  &-left {
    float: left;
    #{$calendar-prefix-cls} {
      &-time-picker-inner {
        border-right: 1px solid $border-color-split;
      }
    }
  }

  &-right {
    float: right;
    #{$calendar-prefix-cls} {
      &-time-picker-inner {
        border-left: 1px solid $border-color-split;
      }
    }
  }

  &-middle {
    position: absolute;
    left: 50%;
    z-index: 1;
    height: $input-box-height;
    margin: 1px 0 0 0;
    padding: 0 200px 0 0;
    color: $white;
    line-height: $input-box-height;
    text-align: center;
    transform: translateX(-50%);
    pointer-events: none;
  }

  &-right #{$calendar-prefix-cls}-date-input-wrap {
    margin-left: -90px;
  }

  &#{$calendar-prefix-cls}-time &-middle {
    padding: 0 10px 0 0;
    transform: translateX(-50%);
  }

  #{$calendar-prefix-cls}-today
    :not(#{$calendar-prefix-cls}-disabled-cell)
    :not(#{$calendar-prefix-cls}-last-month-cell)
    :not(#{$calendar-prefix-cls}-next-month-btn-day) {
    #{$calendar-prefix-cls}-date {
      color: $primary;
      background: $primary;
      border-color: $primary;
    }
  }

  #{$calendar-prefix-cls}-selected-start-date,
  #{$calendar-prefix-cls}-selected-end-date {
    @include calendar-selected-cell;
  }

  &#{$calendar-prefix-cls}-time &-right #{$calendar-prefix-cls}-date-input-wrap {
    margin-left: 0;
  }

  #{$calendar-prefix-cls}-input-wrap {
    position: relative;
    height: $input-box-height;
  }

  #{$calendar-prefix-cls}-input,
  #{$calendar-timepicker-prefix-cls}-input {
    // @include input;
    padding-right: 0;
    padding-left: 0;
    border: 0;
    box-shadow: none;

    &:focus {
      box-shadow: none;
    }
  }

  #{$calendar-timepicker-prefix-cls}-icon {
    display: none;
  }

  &#{$calendar-prefix-cls}-week-number {
    width: 574px;

    #{$calendar-prefix-cls}-range-part {
      width: 286px;
    }
  }

  #{$calendar-prefix-cls}-year-panel,
  #{$calendar-prefix-cls}-month-panel,
  #{$calendar-prefix-cls}-decade-panel {
    top: $input-box-height;
  }
  #{$calendar-prefix-cls}-month-panel #{$calendar-prefix-cls}-year-panel {
    top: 0;
  }
  #{$calendar-prefix-cls}-decade-panel-table,
  #{$calendar-prefix-cls}-year-panel-table,
  #{$calendar-prefix-cls}-month-panel-table {
    height: 208px;
  }

  #{$calendar-prefix-cls}-in-range-cell {
    position: relative;
    border-radius: 0;
    > div {
      position: relative;
      z-index: 1;
    }
    &::before {
      position: absolute;
      top: 4px;
      right: 0;
      bottom: 4px;
      left: 0;
      display: block;
      background: $primary;
      border: 0;
      border-radius: 0;
      content: '';
    }
  }

  #{$calendar-prefix-cls}-footer-extra {
    float: left;
  }

  // `div` for selector specificity
  div#{$calendar-prefix-cls}-range-quick-selector {
    text-align: left;

    > a {
      margin-right: 8px;
    }
  }

  #{$calendar-prefix-cls},
  #{$calendar-prefix-cls}-month-panel,
  #{$calendar-prefix-cls}-year-panel,
  #{$calendar-prefix-cls}-decade-panel {
    &-header {
      border-bottom: 0;
    }
    &-body {
      border-top: 1px solid $border-color-split;
    }
  }

  &#{$calendar-prefix-cls}-time {
    #{$calendar-timepicker-prefix-cls} {
      top: 68px;
      z-index: 2; // cover .ant-calendar-range .ant-calendar-in-range-cell > div (z-index: 1)
      width: 100%;
      height: 207px;
      &-panel {
        height: 267px;
        margin-top: -34px;
      }

      &-inner {
        height: 100%;
        padding-top: 40px;
        background: none;
      }

      &-combobox {
        display: inline-block;
        height: 100%;
        background-color: $white;
        border-top: 1px solid $border-color-split;
      }
      &-select {
        height: 100%;
        ul {
          max-height: 100%;
        }
      }
    }
    #{$calendar-prefix-cls}-footer #{$calendar-prefix-cls}-time-picker-btn {
      margin-right: 8px;
    }
    #{$calendar-prefix-cls}-today-btn {
      height: 22px;
      margin: 8px 12px;
      line-height: 22px;
    }
  }

  &-with-ranges#{$calendar-prefix-cls}-time #{$calendar-timepicker-prefix-cls} {
    height: 233px;
  }
}

#{$calendar-prefix-cls}-range#{$calendar-prefix-cls}-show-time-picker {
  #{$calendar-prefix-cls}-body {
    border-top-color: transparent;
  }
}

#{$calendar-timepicker-prefix-cls} {
  position: absolute;
  top: 40px;
  width: 100%;
  background-color: $white;

  &-panel {
    position: absolute;
    z-index: $zindex-picker;
    width: 100%;
  }

  &-inner {
    position: relative;
    display: inline-block;
    width: 100%;
    overflow: hidden;
    font-size: $font-size-base;
    line-height: 1.5;
    text-align: left;
    list-style: none;
    background-color: $white;
    background-clip: padding-box;
    outline: none;
  }
  &-combobox {
    width: 100%;
  }

  &-column-1,
  &-column-1 &-select {
    width: 100%;
  }
  &-column-2 &-select {
    width: 50%;
  }
  &-column-3 &-select {
    width: 33.33%;
  }
  &-column-4 &-select {
    width: 25%;
  }

  &-input-wrap {
    display: none;
  }

  &-select {
    position: relative; // Fix chrome weird render bug
    float: left;
    height: 226px;
    overflow: hidden;
    font-size: $font-size-base;
    border-right: 1px solid $border-color-split;

    &:hover {
      overflow-y: auto;
    }

    &:first-child {
      margin-left: 0;
      border-left: 0;
    }

    &:last-child {
      border-right: 0;
    }

    ul {
      width: 100%;
      max-height: 206px;
      margin: 0;
      padding: 0;
      list-style: none;
    }

    li {
      width: 100%;
      height: 24px;
      margin: 0;
      line-height: 24px;
      text-align: center;
      list-style: none;
      cursor: pointer;
      transition: all 0.3s;
      user-select: none;

      &:last-child::after {
        display: block;
        height: 202px;
        content: '';
      }

      &:hover {
        background: $item-hover-bg;
        color: $white;
      }

      &:focus {
        color: $primary;
        font-weight: 600;
        outline: none;
      }
    }

    li.DatePicker-time-picker-select-option-selected {
      font-weight: 600;
      background: $time-picker-selected-bg;
    }

    li.DatePicker-time-picker-select-option-disabled {
      color: $btn-disable-color;
      &:hover {
        background: transparent;
        cursor: not-allowed;
      }
    }
  }
}

#{$calendar-prefix-cls}-time {
  #{$calendar-prefix-cls}-day-select {
    display: inline-block;
    padding: 0 2px;
    color: $heading-color;
    font-weight: 500;
    line-height: 34px;
  }

  #{$calendar-prefix-cls}-footer {
    position: relative;
    height: auto;

    &-btn {
      text-align: right;
    }

    #{$calendar-prefix-cls}-today-btn {
      float: left;
      margin: 0;
    }

    #{$calendar-prefix-cls}-time-picker-btn {
      display: inline-block;
      margin-right: 8px;

      &-disabled {
        color: $disabled-color;
      }
    }
  }
}
#{$calendar-prefix-cls}-week-number {
  &-cell {
    opacity: 0.5;
  }
  #{$calendar-prefix-cls}-body tr {
    cursor: pointer;
    transition: all 0.3s;
    &:hover {
      background: $item-hover-bg;
    }
    &#{$calendar-prefix-cls}-active-week {
      font-weight: bold;
      background: $primary;
    }
    #{$calendar-prefix-cls}-selected-day #{$calendar-prefix-cls}-date,
    #{$calendar-prefix-cls}-selected-day:hover #{$calendar-prefix-cls}-date {
      color: $text-color;
      background: transparent;
    }
  }
}

#{$calendar-prefix-cls}-year-panel {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: $zindex-picker-panel;
  background: $white;
  border-radius: 4px;
  outline: none;

  > div {
    display: flex;
    flex-direction: column;
    // TODO: this is a useless wrapper, and we need to remove it in rc-calendar
    height: 100%;
  }
}

#{$calendar-prefix-cls}-year-panel-hidden {
  display: none;
}

#{$calendar-prefix-cls}-year-panel-header {
  @include calendarPanelHeader($calendar-prefix-cls '-year-panel');
  position: relative;
}

#{$calendar-prefix-cls}-year-panel-body {
  flex: 1;
}

#{$calendar-prefix-cls}-year-panel-footer {
  border-top: 1px solid $border-color-split;
  #{$calendar-prefix-cls}-footer-extra {
    padding: 0 12px;
  }
}

#{$calendar-prefix-cls}-year-panel-table {
  width: 100%;
  height: 100%;
  table-layout: fixed;
  border-collapse: separate;
}

#{$calendar-prefix-cls}-year-panel-cell {
  text-align: center;
}

#{$calendar-prefix-cls}-year-panel-year {
  display: inline-block;
  height: 24px;
  margin: 0 auto;
  padding: 0 8px;
  color: $text-color;
  line-height: 24px;
  text-align: center;
  background: transparent;
  border-radius: $border-radius-sm;
  transition: background 0.3s ease;

  &:hover {
    background: $item-hover-bg;
    cursor: pointer;
  }
}

#{$calendar-prefix-cls}-year-panel-selected-cell #{$calendar-prefix-cls}-year-panel-year {
  color: $text-color-inverse;
  background: $primary;

  &:hover {
    color: $text-color-inverse;
    background: $primary;
  }
}

#{$calendar-prefix-cls}-year-panel-last-decade-cell,
#{$calendar-prefix-cls}-year-panel-next-decade-cell {
  #{$calendar-prefix-cls}-year-panel-year {
    color: $disabled-color;
    user-select: none;
  }
}
