@import './utils/index.scss';
@import './modules/index.scss';

.wrapper {
  display: block;
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 30px;

  @include breakpoint(900) {
    padding: 0 15px;
  }
}
