@mixin breakpoint($size) {
  @if $size==desktop {
    @media only screen and (min-width: 1200px) {
      @content;
    }
  } @else if $size==tablet-landscape {
    @media only screen and (max-width: 1199px) {
      @content;
    }
  } @else if $size==tablet-portrait {
    @media only screen and (max-width: 900px) {
      @content;
    }
  } @else if $size==phone {
    @media only screen and (max-width: 599px) {
      @content;
    }
  } @else {
    @media only screen and (max-width: $size + px) {
      @content;
    }
  }
}

@mixin breakpoint-min($size) {
  @media only screen and (min-width: $size + px) {
    @content;
  }
}

@function shade($color, $percentage) {
  @return mix(black, $color, $percentage);
}