.error-react-phone-number-input {
    border: 1px solid #9E2222 !important;
    color: #9E2222 !important;
  }
  
.react-phone-number-input-padding {
    padding: 18px !important;
    border-radius: 6px !important;
}

.react-phone-number-input__icon{
    height: initial !important;
    border: 0 !important;
  }