@import '../../styles/utils.scss';

.FileUploader {
  border: 2px dashed #ccc;
  border-radius: 20px;
  position: relative;
  padding: 20px;

  &--error {
    color: red;
    border-color: red;
  }

  &__error {
    position: absolute;
    bottom: 5px;
    font-size: 13px;
    color: red;
    right: 10px;
  }

  &__uploaded {
    margin: 20px 0 0;
    display: flex;
    flex-wrap: wrap;

    &__wrapper {
      position: relative;
      display: flex;
      align-items: flex-end;
      margin: 10px 0;
    }
    .material-icons {
      position: absolute;
      top: -5px;
      right: 13px;
      background: lightgrey;
      border-radius: 50%;
      font-size: 15px;
      padding: 3px;
      cursor: pointer;
    }
    p {
      font-size: 12px;
      margin-right: 10px;
      border: 1px solid lightgrey;
      padding: 10px 5px;
    }
    img {
      height: 100px;
      margin-right: 20px;
      width: 100px;
    }
  }

  &__button {
    background-color: white;
    display: inline-block;
    padding: 10px 20px;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.6);
    margin-bottom: 10px;
    border-radius: 6px;
    cursor: pointer;
  }

  &__progress {
    width: 100%;
  }

  @include breakpoint(699) {
    width: 450px;
  }

  @include breakpoint(499) {
    width: 300px;
  }
}
