@import 'src/styles/utils';

.Currency {
  margin: 0 !important;

  > .symbol {
    color: currentColor;
    opacity: 1;

    &.size {
      font-size: 0.7rem;
    }

    &.left {
      margin-right: 0.3em;
    }

    &.right {
      margin-left: 0.3em;
    }
  }
}
